body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #308f3c;
}

h1 {
  text-align: center;
}

.form-container {
  width: 50%;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px #df6868;
  margin-bottom: 30px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.resume-preview {
  width: 60%;
  margin: auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px #ccc;
  white-space: pre-wrap;
}